<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.name }} - {{ page.title }}</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Payroll-admin</h1>
        <p>Simple project to quickly start developing a Scala-based microservice or web application.</p>

        <ul class="view">
          <li><a href="https://github.com/softwaremill/payroll-admin/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/softwaremill/payroll-admin/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/softwaremill/payroll-admin">View On <strong>GitHub</strong></a></li>
        </ul>

        <hr />

        <ul>
          <li><a href="{{ site.baseurl }}">Home</a></li>
          <li><a href="{{ site.baseurl }}architecture.html">Architecture</a></li>
          <li><a href="{{ site.baseurl }}stack.html">Technology stack</a></li>
          <li><a href="{{ site.baseurl }}getting-started.html">Getting started</a></li>
          <li><a href="{{ site.baseurl }}backend.html">Backend code structure</a></li>
          <li><a href="{{ site.baseurl }}frontend.html">Frontend</a></li>
          <li><a href="{{ site.baseurl }}devtips.html">Development tips</a></li>
          <li><a href="{{ site.baseurl }}production.html">Production deployment</a></li>
          <li><a href="{{ site.baseurl }}configuration.html">Configuration</a></li>
          <li><a href="{{ site.baseurl }}testing.html">Testing</a></li>
        </ul>
      </header>
      <section>
        <h1>{{ page.title }}</h1>
        {{ content }}</section>
      <footer>
        <p>This project is maintained by <a href="https://www.softwaremill.com">Softwaremill</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-11235106-12");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>
